-- AlterTable
ALTER TABLE `insurance` ADD COLUMN `notes` TEXT NULL,
    MODIFY `status` ENUM('PENDING_APPROVAL', 'ACTIVE', 'EXPIRING', 'EXPIRING_SOON', 'EXPIRED', 'REJECTED', 'ARCHIVED') NOT NULL DEFAULT 'PENDING_APPROVAL';

